canvas{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    animation: opacity 5s forwards;
}



*{
    overflow-x: hidden;
}

p{
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 49%;
    font-size: 1500%;
    top: -41%;
    animation: top 5s forwards 1s;
}

h3{
    position: absolute;
    top: 85%;
    rotate: -90deg;
    font-size: 150%;
    opacity: 0;
}

h3:nth-child(2){
    left: unset;
    right: 0;
    animation: right 5s forwards 1s;
}

h3:nth-child(1){
    left: 0;
    right: unset;
    animation: left 5s forwards 1s;
}


@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes top {
    0% {
        transform: translate(-50%, -200%);
        opacity: 0;
        left: 49%;
    }
    100% {
        transform: translate(-50%, 0%);
        opacity: 1;
        left: 49%;
    }
}

@keyframes left {
    0% {
        left: -10%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}


@keyframes right {
    0% {
        right: -7%;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}