@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
:root {
  font-family: McLaren, sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
}